@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="主键ID" value="${item.id}" underline="true"/>
                            <#input id="loginName" name="登录名" value="${item.loginName}" underline="true"/>
                            <#input id="email" name="邮箱" value="${item.email}" underline="true"/>
                            <#input id="telephone" name="手机" value="${item.telephone}" underline="true"/>
                            <#input id="password" name="密码" value="${item.password}" underline="true"/>
                            <#input id="salt" name="登录盐值" value="${item.salt}" underline="true"/>
                            <#input id="regTime" name="注册时间" value="${item.regTime}" underline="true" type="text" isTime="true"/>
                </div>

                <div class="col-sm-6">
                            <#input id="regIp" name="注册IP" value="${item.regIp}" underline="true"/>
                            <#input id="regType" name="注册方式" value="${item.regType}" underline="true"/>
                            <#input id="regFrom" name="注册类型" value="${item.regFrom}" underline="true"/>
                            <#input id="status" name="状态" value="${item.status}" underline="true"/>
                            <#input id="reason" name="冻结原因" value="${item.reason}" underline="true"/>
                            <#input id="memo" name="备注" value="${item.memo}" underline="true"/>
                            <#input id="isTest" name="是否测试" value="${item.isTest}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="UPassportInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="UPassportInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/manage/uPassport/uPassport_info.js"></script>
<script src="${ctxPath}/static/js/common/DateUtils.js"></script>
<script>
    var time = '${item.regTime}';
    DateUtils.expandDate();
    var date = new Date(time);
    var regTime = date.format('yyyy-MM-dd hh:mm:ss');
    laydate.render({
        elem: '#regTime',
        type: 'datetime',
        value: regTime
    });
</script>
@}
